* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  /* background: #e8dfc2; */
  background: #1c1f25;

}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: whitesmoke ;

  text-align: center;
  margin: 80px auto;
  border-radius: 12px;
  padding-bottom: 32px;
}

.todo-app-dark {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #2d333b;
    text-align: center;
    margin: 80px auto;
    border-radius: 12px;
    padding-bottom: 32px;
  }
  

h1 {
  margin: 32px 0;
  color: black;
  font-size: 24px;
}

.todolist-dark h1 {
  
    color: white;
  }
  

.complete {
  text-decoration: line-through;
  opacity: 0.4;
  cursor: pointer;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input-dark{
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid;
    outline: none;
    width: 320px;
    background: transparent;
    color: white;
}
.todo-input::placeholder {
  color: grey;
}

.todo-button {
  padding: 16px;
  border: none;
  margin-left: 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: darkslategrey;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid darkgoldenrod;
 
 
}
.todo-input-dark.edit {
  border: 2px solid darkgoldenrod;
  color: white;
}


.todo-button.edit {
 background: rgb(192, 143, 18);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: black;
  background: #e2c4ba;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}

.todo-row:nth-child(4n + 1) {
  background: #aec3b0;
}

.todo-row:nth-child(4n + 2) {
  background: #fc856d;
}

.todo-row:nth-child(4n + 3) {
  background: #83a39e;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.toggle-button{
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: darkslategrey;
    color: pink;
    text-transform: capitalize;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 10px;
    float: right; 

}


  

